[submodule "deps/taglib"]
	path = deps/taglib
	url = https://github.com/taglib/taglib
[submodule "deps/libmpdclient"]
	path = deps/libmpdclient
	url = https://github.com/MusicPlayerDaemon/libmpdclient
[submodule "deps/mongoose"]
	path = deps/mongoose
	url = https://github.com/cesanta/mongoose/
